<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <system.web>
        <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="1048576000" />
    </system.web>



    <system.webServer>

        <security>
            <requestFiltering>
            <!-- 1000 MB in bytes -->
            <requestLimits maxAllowedContentLength="1048576000" />
            </requestFiltering>
        </security>


        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="Default.asp" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
