<?xml version="1.0" encoding="UTF-8"?>
<configuration>


<!--
    <system.web>
        <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="1048576000" />
    </system.web>

-->

    <system.webServer>



        <security>
            <requestFiltering>
   
            <requestLimits maxAllowedContentLength="1048576000" />
            </requestFiltering>
        </security>


        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="indexCss.php" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="Default.asp" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".df" mimeType="application/x-director" />
            <mimeMap fileExtension=".iso" mimeType="application/x-director" />
        </staticContent>
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="Custom">
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/res/state/404.html" responseMode="ExecuteURL" />
            <error statusCode="403" path="/res/state/403.html" responseMode="ExecuteURL" />
            <error statusCode="401" path="/res/state/401.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
